* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;   
}

body {
    background-color: rgb(54, 54, 54);
}

nav {
    display: flex;
    position: fixed;
    height: 60px;
    width: 100%;
    background: rgb(26, 26, 26);
    align-items: center;
    z-index: 3;
}

/*============ DIV TITLE IN NAV BAR =============*/
.cida-title {
    display: flex;
    position: relative;
    left: 4%;
    cursor: pointer;
}

.cida-title h1 {
    color: white;
}

.cida-title h4 {
    left: 3%;
    font-weight: 300;
    color: rgb(163, 163, 163);
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

/*============ DIV LOGO IN NAV-BAR =============*/
.navbar-logo {
    display: flex;
    position: relative;
    left: 3%;
    align-items: center;
}

.navbar-logo img {
    cursor: pointer;
    width: 40px;
}

/*============ DIV NAV-BAR =============*/

.nav-options {
    display: flex;
    position: absolute;
    right: 20%;
    align-items: center;
}

/*============ NAV BAR LINKS =============*/
.nav-links {
    list-style: none;
    display: flex;
    position: relative;
}

.nav-links a {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 600;
}

#nav-home:hover {
    color: rgb(173, 255, 47);
}

#nav-about:hover {
    color: rgb(225, 103, 255);
}

#nav-commands:hover {
    color: rgb(72, 207, 224);
}

#nav-creator:hover {
    color: rgb(253, 233, 51);
}

/*============ DIV BUTTONS =============*/

.login-buttons {
    display: flex;
    position: absolute;
    float: right;
    right: 2%;
}

/*=============== BURGER ================*/

.burger{
    display: none;
    position: relative;
    flex-direction: column;   
}

.line1, .line2, .line3{
    border-radius: 2em;
    width: 30px;
    margin: 3px;
    height: 4px;
    background-color: white;
}


/*=========== SIGN IN BUTOON ===========*/
#signin {
    border: 0;
    padding: 5px 10px;
    background: none;
    color: white;
    font-size: 15px;
    margin-right: 0.5em;
    cursor: pointer;
}

#signin:hover {
    color: rgb(255, 194, 64);
}

#signin:active {
    color: rgb(212, 163, 55);
}

/*=========== LOGIN BUTTON ===========*/

#login {
    padding: 6px 16px;
    background: rgb(255, 255, 255);
    border: 0;
    border-radius: 1em;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

#login:hover {
    background: rgb(75, 110, 177);
    color: rgb(255, 255, 255);
}

#login:active {
    background: rgb(49, 73, 117);
}

/*============================================*/

section {
    height: 100vh;
    background: rgb(29, 31, 35);
}

/*=============== HOME SECTION ================*/

.home {
    background-image: url('images/background2.png');
    background-size: cover;
}

/*=============== TEXT HOME ================*/

.intro-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    top: 40%;
}

.intro-home h1 {
    color: white;
    font-size: 80px;
    font-weight: 600;
}

.intro-home h2 {
    font-size: 22px;
    font-weight: 500;
    color: white;
}

/*=============== ABOUT SECTION ================*/
.about-cida {
    background-image: url('images/background2.png');
    background-size: cover;
}

.cida-image {
    top: 35%;
    display: flex;
    position: relative;
    justify-content: center;

}

.cida-image img {
    width: 150px;
}

/*=============== ABOUT CIDA TEXTS ================*/

.about-container {
    top: 15%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-container h1 {
    color: white;
    font-size: 50px;
}

.about-container p {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 2%;
    color: white;
    font-size: 20px;
}

.linked-image {
    margin-top: 6%;
}

.linked-image img {
    width: 75%;
}

/*=============== COMMANDS SECTION ================*/

.commands {    
    background-image: url('images/background2.png');
}

.commands-overall-container{
    top: 15%;
    position: relative;
}

.gif-screen {
    width: 800px;
    height: 480px;
    background: black;
    display: flex;
    position: relative;
    top: 17%;
    right: 3%;
    float: right;
    border-radius: 1em;
    margin-left: 0%;
    
}

.gif-screen img {
    border-radius: 1em;
}

.commands-container {
    left: 3%;
    top: 12%;
    display: flex;
    position: relative;
    float: left;
    flex-direction: column;
    width: 49%;
    margin-right: 0%;
}

.tittle-and-command {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
}

.tittle-and-command h3 {
    display: flex;
    position: relative;   
    margin-left: 1%;
    font-weight: 500;
    color: white;
    border-radius: 0.7em;
    padding: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgb(73, 98, 180);
}

.commands-container h1 {
    color: white;
}

.commands-container p {
    margin-top: 0.5em;
    padding-left: 2%;
    padding-right: 20%;
    color: white;
    font-weight: 500;
    margin-bottom: 2.5%;
}

/*----- SECOND COMMAND -----*/

.tittle-and-command2{
  display: none;
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: 1em;
}

.tittle-and-command2 h3 {
    display: flex;
    position: relative;
    margin-top: 1.8%;
    margin-left: 1%;
    font-weight: 500;
    color: white;
    border-radius: 0.7em;
    padding: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgb(73, 98, 180);
}


/*=============== STREAM ALERT SECTION ==============*/
.twitch-alerts-container {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    top: 0%;
    width: 100%;

}

.twitch-alerts-container h1 {
    display: flex;
    position: relative;
    font-size: 50px;
    color: white;
    margin-bottom: 2%;

}

.twitch-alerts-container p {
    color: white;
    margin-bottom: 3%;
}

.twitch-alerts-container img {
    border-radius: 1em;
}



/*=============== ACTIVE CLASS ==============*/

.screen-active {
    z-index: 3;
}

/*=============== GIFS ID ==============*/

#pokedexgif {
    display: block;
    z-index: 1;
    position: absolute;
}

/*=============== COMMANDS HOVER AND ACTIVE ==============*/

.cpokedex h3:hover {
    color: white;
    background-color: rgb(53, 63, 124);
    cursor: pointer;
}

.cpokedex h3:active {
    color: white;
    background-color: rgb(37, 43, 87);
    cursor: pointer;
}

/*----------------------------------------------------------*/

.cmute h3:hover {
    color: white;
    background-color: rgb(53, 63, 124);
    cursor: pointer;
}

.cmute h3:active {
    color: white;
    background-color: rgb(37, 43, 87);
    cursor: pointer;
}

/*----------------------------------------------------------*/

.ckick h3:hover {
    color: white;
    background-color: rgb(53, 63, 124);
    cursor: pointer;
}

.ckick h3:active {
    color: white;
    background-color: rgb(37, 43, 87);
    cursor: pointer;
}

/*----------------------------------------------------------*/

.cban h3:hover {
    color: white;
    background-color: rgb(53, 63, 124);
    cursor: pointer;
}

.cban h3:active {
    color: white;
    background-color: rgb(37, 43, 87);
    cursor: pointer;
}

/*----------------------------------------------------------*/

.cpurge h3:hover {
    color: white;
    background-color: rgb(53, 63, 124);
    cursor: pointer;
}

.cpurge h3:active {
    color: white;
    background-color: rgb(37, 43, 87);
    cursor: pointer;
}

/*=========================================================*/


.creator {
    background-image: url('images/background2.png');
    background-size: cover;
}

.creator h1 {
    display: flex;
    position: relative;
    margin-bottom: 1em;
    font-size: 50px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 20%;
}


.creator-container {
    display: flex;
    position: relative;
    top: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 8%;
    padding-right: 10%;
    border-radius: 2em;
}

.creator-picture img {
    width: 80%;
    border-radius: 50%;
}

.creator-text-container {
    color: white;
    position: relative;
}

.creator-text-container h3 {
    display: flex;
    font-size: 30px;
    padding-left: 2%;
    padding-right: 35%;
}

.creator-text-container h4 {
    display: flex;
    padding-left: 2%;
    padding-right: 35%;
    font-size: 20px;
}

.creator-text-container p {
    text-align: left;
    display: flex;
    padding-left: 2%;
    margin-top: 1.5%;
}

footer {
    background-image: url('/cida/images/background2.png');    
    height: 35vh;
    padding: 0px;
   
}
/*-----------CONTAINER TRANSPARENT------------*/

.footer-container{    
    width: 100%;
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.3);
}

/*-----------All Rights------------*/
.footer-info{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 90%;
}
.footer-info h3 {   
    font-weight: 400;
    font-size: 14px;
    color: white;
}

/*-----------SOCIAL MEDIA ------------*/

.footer-social {
    display: flex;
    position: relative;
    right: 7%;
    float: right;   
    flex-direction: column;   
    top: 15%;
     
}

.footer-social h3{
    color: white;
    margin-bottom: 20%;
    font-size: 25px;
}

.footer-social li{
    list-style: none;
    
}
.footer-social a {    
    display: flex;
    color: white;
    font-size: 20px;   
    text-decoration: none;
    align-items: center;
    margin-bottom: 10%;
}

.footer-social img{
    width: 25px;
    height: 25px;
    margin-right: 5%;
}
/*----------- more about CIDA ------------*/
.footer-about-cida{
    display: flex;
    position: relative;
    float: left;
    left: 5%;   
    top: 25%;    
    justify-content: center;
    align-items: center;
    width: 90%;
}

.footer-about-cida img{
    width: 90px;
    margin-right: 2%;
}


.footer-about-cida p{
    color:white;
    padding-right: 40%;
    
}


/*=============================================*/
/*               720p RESOLUTION               */
/*=============================================*/

@media screen and (max-width: 1280px) {
    .nav-links a {
        margin-left: 40px;
        margin-right: 40px;
    }

    .commands {
        height: 100vh;
    }

    .commands-container {
        width: 46%;
        top: 15%;
    }

    .tittle-and-command h1 {
        font-size: 20px;
        margin-top: 0%;
    }

    .tittle-and-command h3 {
        margin-top: 0%;
        font-size: 17px;
    }

    .commands-container p {
        font-size: 15px;
        padding-right: 18%;
        
    }

    .gif-screen {
        width: 680px;
        height: 400px;
        top: 17%;
    }

    .gif-screen img {
        width: 680px;
        height: 400px;
    }

    .twitch-alerts-container {
        top: 3%;
    }

    .twitch-alerts-container p {
        padding-right: 7%;
        padding-left: 7%;
    }
    .footer-social{
        top: 7%;
    }

    .footer-about-cida{
        top: 24%;
    }

    .footer-about-cida img{
        width: 70px;
    }


}

/*=============================================*/
/*               4:3 RESOLUTION                */
/*=============================================*/


@media screen and (max-width: 1024px){

    .nav-links a {
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-options{        
        right: 15%;
    }

    .commands-container {
        left: 3%;
        top: 14%;
        display: flex;
        position: relative;
        float: left;
        flex-direction: column;
        width: 38%;
        margin-right: 0%;
    }

    .gif-screen {
        width: 600px;
        height: 350px;
        top: 17%;
    }

    .gif-screen img {
        width: 600px;
        height: 350px;
    }

    .footer-social{
        top: 15%;
    }
    .footer-about-cida{
        top: 30%;
        width: 80%;
    }


}


/*=============================================*/
/*           HALF SCREEN - FULL HD             */
/*=============================================*/

@media screen and (max-width: 960px) {

    html,body{
        overflow-x: hidden;
    }

    .nav-links a {
        margin-left: 15px;
        margin-right: 15px;
    }

    .nav-options {        
        right: 15%;
    }
    
    .commands-overall-container {
        display: flex;
        position: relative;      
        flex-direction: column;
        align-items: center;
        justify-content: center;              
    }
  
    .commands-container {
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: row;        
        width: 100%;
        margin-top: 3%;
        left: 0%;
        padding-left: 2%;
        padding-right: 2%;                
    }

    .commands-container p{
        text-align: center;
        padding-right: 1%;
        padding-left: 1%;
    }

    .gif-screen {
        width: 100%;
        left: 0%; 
        width: 600px;
        height: 350px;
    }

    .gif-screen img{
        width: 600px;
        height: 350px;
    }

    .tittle-and-command h3{
        display: none;
    }
    
    .tittle-and-command2{
        display: flex;
        margin-top: 5%;
    }
    
    .tittle-and-command2 h3{
        margin: 0%;
    }

    .cpokedex{
        display: flex;
        flex-direction: column;         
        text-align: center;
        align-items: center;

        width: 20%;
        margin: 0%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        
    }
    .cmute{
        display: flex;
        flex-direction: column;         
        text-align: center;
        align-items: center;
        top: 0%;
        width: 20%;
        margin: 0%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        
    }
    .ckick{
        display: flex;
        flex-direction: column;         
        text-align: center;
        align-items: center;

        width: 20%;
        margin: 0%;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .cban{
        display: flex;
        flex-direction: column;         
        text-align: center;
        align-items: center;

        width: 20%;
        margin: 0%;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .cpurge{
        display: flex;
        flex-direction: column;         
        text-align: center;
        align-items: center;

        width: 20%;
        margin: 0%;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }


}

/*=============================================*/
/*                    MOBILE                   */
/*=============================================*/

@media screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;       
    }

    .commands{
        height: 200vh;
    }

    .nav-options{
        display: flex;
        top: 100%;
        justify-content: center;
        right: 0%;    
        width: 100%;
        height: 640px;        
        background: rgb(26, 26, 26);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;          
                
    }

    .active-nav{
        transform: translateX(0%);         
    }

    .nav-links{
        flex-direction: column;
        justify-content: space-between;
        height: 60%;
        text-align: center;
        align-items: center;
    }

    .cida-title{
        left: 5%;
    }

    .login-buttons{
        right: 18%;
        display: flex;
    }

    .burger{
        display: flex;
        position: absolute;
        right: 5%;
        cursor: pointer;
    }

    .intro-home h1{
        font-size: 55px;
    }
    .intro-home h2{
        font-size: 17px;

    }

    .commands-overall-container{
        top: 8%;
    }

    .gif-screen{
        width: 370px;
        height: 200px;
    }

    .gif-screen img{
        width: 370px;
        height: 200px;
    }
      
    .commands-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .commands-container .tittle-and-command2{
        margin-top: 0%;
        
    }

    .cpokedex, .cmute, .ckick, .cban, .cpurge{
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        margin-bottom: 10%;
        margin-top: 5%;
    }

    .twitch-alerts-container h1{
        font-size: 40px;
        margin-bottom: 4%;
    }
    .twitch-alerts-container img{
        margin-top: 10%;
        width: 380px;
        height: 200px;
    }
       
    .creator h1{
        top: 0%;
    }
    .creator-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 500px;
        top: 5%;
    }
    .creator-picture{
        width: 50%;
    }
    .creator-text-container h3, 
    .creator-text-container h4{
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0%;        
    }
    .creator-text-container p{
        margin-top: 10%;
        text-align: center;
        padding: 0%;        
    }
    footer{
        height: 80vh;      
    }
    
    .footer-info{
        top: 92%;
    }

    .footer-about-cida{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0%;
        float: none;
        top: 10%;
        width: 100%;
        left: 0%;
    }
    .footer-about-cida img{
        margin: 0%;
        margin-bottom: 10%;
        width: 25%;
    }
    .footer-about-cida p{
        padding-right: 7%;
        padding-left: 7%;    
        margin-left:0%;
        margin-right: 0%; 
        text-align: center;       
    }

    .footer-social{        
        justify-content: center;
        align-items: center;
        float: none;             
        margin: 0%;
        width: 100%;
        right: 0%;
        top: 25%;
    }

    .footer-social h3{
        margin-bottom: 4%;
    }

    .footer-social ul{
        margin-top: 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 330px;        
    }





}